@model IEnumerable<DepartmentModel>
@{
    ViewData["Title"] = "Departments Page";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <h1 class="text-center">Departments List</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mt-5">
                    <thead class="bg-primary">
                        <tr>
                            <th class="text-center pb-4">Department Name</th>
                            <th class="text-center bg-secondary" style="width: 140px;">Manage Department</th>
                        </tr>
                    </thead>

                    <br />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="text-center alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    <tbody>
                        @foreach (var department in Model)
                        {
                            <tr>
                                <td class="text-center pt-4">@department.Name</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@department.Id"
                                           class="btn btn-info mx-1" style="width: 60px;"><i class="bi bi-pencil-square"></i>Edit</a>
                                        <a asp-controller="Department" asp-action="Delete" asp-route-id="@department.Id"
                                           class="btn btn-danger mx-1" style="width: 65px;"><i class="bi bi-trash3-fill"></i>Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-12 text-center">
            <a asp-controller="Department" asp-action="Create"
               class="btn btn-success"><i class="bi bi-plus-circle"></i> &nbsp;Add Department</a>
        </div>
    </div>
</div>