@model IEnumerable<CourseModel>
@{
    ViewData["Title"] = "Employee Courses Page";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <h1 class="text-center">Courses List</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mt-5">
                    <thead class="bg-primary">
                        <tr>
                            <th class="text-center pb-2">Course Name</th>
                            <th class="text-center bg-secondary" style="width: 140px;">Manage Course</th>
                        </tr>
                    </thead>

                    <br />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="text-center alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    <tbody>
                        @foreach (var course in Model)
                        {
                            <tr>
                                <td class="text-center pt-4">@course.Name</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-controller="EmployeeCourses" asp-action="Add" asp-route-id="@course.Id"
                                           class="btn btn-info mx-1" style="width: 60px;"><i class="bi bi-plus-circle"></i>Add </a>
                                        <a asp-controller="EmployeeCourses" asp-action="ViewEmployees" asp-route-id="@course.Id"
                                           class="btn btn-danger mx-1" style="width: 65px;"><i class="bi bi-eye"></i>View</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>