@inject IHttpContextAccessor HttpAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">

        <h1 class="display-4 mt-4">Welcome</h1>

        <div class="container" mt-5>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success text-center" style="width: 50%; margin: 0 auto;">
                    @TempData["SuccessMessage"]
                </div>
            }
        </div>

        <br />
        <br />

        @if (HttpAccessor.HttpContext!.Session.GetString("ApplicationToken") != null &&
        HttpAccessor.HttpContext!.Session.GetString("ApplicationToken")!.Length > 0)
        {
            <h3>You can now use the functionalities of the site that you are authorized to.</h3>
        }
        else
        {
            <h3>
                Please <a asp-controller="Auth" asp-action="Login">Login</a> or
                <a asp-controller="Auth" asp-action="Register">Register</a> to use the functionality of the application.
            </h3>
        }
    </div>
</div>
